# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
.env

# Virtualenv
.venv/
venv/
ENV/

# Build artifacts
build/
dist/
*.egg-info/
.eggs/

# macOS
.DS_Store
.AppleDouble
.LSOverride
.Spotlight-V100
.Trashes
._*
.fseventsd
